<IfModule mod_rewrite.c>
    RewriteEngine On

    # Nếu file hoặc thư mục tồn tại thì truy cập trực tiếp
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Nếu không, chuyển hướng đến index.php
    RewriteRule ^ index.php [L]
</IfModule>